# Ignore : Dependencies
node_modules/
.pnp/
.pnp.js

# Ignore : Environment
.env
.env.*
!*.env.example

# Ignore : Debug
*.log
*.log*
*.trace

# Ignore : Outputs
venv
venv-test
build.stamp
proof
package-lock.json
master_ufo
instance_ufos
.ninja_log
build.ninja

# Ignore : IDE
.idea/
.vscode/
.fleet/
*.sublime-workspace
*.sublime-project

# Ignore : CI/CD & Deployment
.DS_Store
*.pem
*.key
*.crt
*.pub
*.ndjson
*.csv
*.sqlite
*.db
*.tinyb
.venv
*.lockb

# Ignore : OS & Misc
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.bak
*.tmp
.vercel

# Font build artifacts #
obvia-font/
obvia-font*.zip
packages/fonts/dist/fonts/
artifacts/

# this is copied as part of the prepare script
packages/fonts/LICENSE.txt
