/* Obvia Sans */
@font-face {
    font-family: "Obvia Sans";
    src: url("./fonts/obvia-sans/Obvia-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
.font-obvia-sans {
    font-family: "Obvia Sans", sans-serif;
}

/* Obvia Mono */
@font-face {
    font-family: "Obvia Mono";
    src: url("./fonts/obvia-mono/ObviaMono-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
.font-obvia-mono {
    font-family: "Obvia Mono", ui-monospace, SFMono-Regular, Roboto Mono,
    Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

/* Obvia Pixel */
@font-face {
    font-family: "Obvia Pixel Square";
    src: url("./fonts/obvia-pixel/ObviaPixel-Square.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Obvia Pixel Grid";
    src: url("./fonts/obvia-pixel/ObviaPixel-Grid.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Obvia Pixel Circle";
    src: url("./fonts/obvia-pixel/ObviaPixel-Circle.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Obvia Pixel Triangle";
    src: url("./fonts/obvia-pixel/ObviaPixel-Triangle.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Obvia Pixel Line";
    src: url("./fonts/obvia-pixel/ObviaPixel-Line.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}

.font-obvia-pixel-square {
    font-family: "Obvia Pixel Square", "Obvia Mono", monospace;
}
.font-obvia-pixel-grid {
    font-family: "Obvia Pixel Grid", "Obvia Mono", monospace;
}
.font-obvia-pixel-circle {
    font-family: "Obvia Pixel Circle", "Obvia Mono", monospace;
}
.font-obvia-pixel-triangle {
    font-family: "Obvia Pixel Triangle", "Obvia Mono", monospace;
}
.font-obvia-pixel-line {
    font-family: "Obvia Pixel Line", "Obvia Mono", monospace;
}
